@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.container-center{
	@include container-center;
	position: relative;	
}

.title-QN {
	padding: 1.5em 1em 1em 1em;
    border-bottom: 1px solid $gray-light;	
}

.title-input {
    padding: 1.5em 0;
	width: 100%;
    text-align: center;	
    font-weight: bold;
    font-size: 1.5em;
    &:focus {
    	background-color: $gray-light;
    }
}
.add-footer {
	border: 1px solid $gray;	
}
.add-center {
	@include center;
	margin: 1em, auto;
	&:last-child {
		margin: 0;
	}
}

.button-add {
	@include button(6em,2em);
	float: left;
	margin-left: 1.2em;
	img {
		margin: 0 0.4em -2px;
	}
	&:first-child {
		margin-left: 0; 
	}
	&:hover {
		color: inherit;
		background-color: white;
		border-color: inherit;		
	}
}

.button-box {
	@include box(100%, 6em);
	position: relative;
}
.add-item {
	position: relative;
	height: 3em;
	font-size: 2.5em;
	background-color: $gray-light;
	cursor: pointer;
}

.footer-QN {
	margin: 0 3%;
	border-top: 1px solid rgba(193, 154, 154, 0.73);
	padding: 20px 0 20px 4%;
	@include clearfix;
}

.button-check {
	@include button(6em,1.5em);
	float: right;
	box-shadow: none;
	margin: 0.5em 1em 0 0;
}