@media screen and (min-width:960px) {
	#containerMain {
		width: 960px;
	}
}

@media screen and (max-width:959px) {
	#containerMain {
		width: 100%;
		min-width: 500px;
	}
}

@media screen and (min-width:625px) {
	#containerMain .listQNs{
		margin: 60px auto;
		width: 80%;
	}
}

@media screen and (max-width:624px) {
	#containerMain .listQNs{
		margin: 60px auto;
		width: 500px;
	}
}
#root {
	position: relative;
}
html, body, ul, li, span, button, img {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.clearfix:after {
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.clearfix {
	*zoom:1;
}

#containerMain {
	margin: 0 auto;
}

.header {
	background-color: #ee7419;
	line-height: 2em;
	color: white;
}

.header span:first-child {
	margin: 0.3em 5%;
	line-height: 1.4em;
	font-size: 1.2em;
	font-weight: bold;
}

.header span:last-child {
	margin-bottom: 0.3em; 
	line-height: 2.7em;
	text-align: bottom;
	font-size: 1em;
}

#containerListQNs {
	float: left;
	width: 100%;
    background-color: #efefef;
    font-size: 12px;
}

.listQNs ,
.middleQN .middleQNFooter .addChoose{
	background-color: white;
}

.listQNs li {
	position: relative;
	line-height: 3em;
	text-align: left;
}

.listQNs li:first-child {
	background-color: #efefef;
}

.limiddleQNsList {
	margin: 0 1%;
	border-bottom: 1px solid #eee;
}

.limiddleQNsList:first-child {
	border-bottom: none;
}

.limiddleQNsList .titleQNsList,
.limiddleQNsList .timeQNsList,
.limiddleQNsList .stateQNsList,
.limiddleQNsList .actionQNsList {
	float: left;
}

.listQNs li .titleQNsList {
	margin-left: 5%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.listQNs li .timeQNsList {
	width: 125px;
}

.listQNs li .actionQNsList {
	margin: auto 1% auto 0;
	width: 189px;
}
.listQNs li:first-child .actionQNsList span{
	margin-left: 5px;
}
button {
	cursor: pointer;
	margin-left: 5px; 
	border: 1px solid #cbb;
	border-radius: 3px;
	width: 58px;
	line-height: 1.5em;
	background-color: white;
}

.listQNs li:first-child button {
	float: right;
	margin: 3px 0;
	border-color: #eee;
	padding: 4px 5px;
	width: 74px;
	line-height: 1.5em;
	background-color: #ee7419;
	color: white;
}

.listQNs li input[type="radio"] {
	position: absolute;
	left: 10px;
	top: 9px;
	float: left;
}

/*****************弹出窗口样式*************************/
#grayCover  {
	position: absolute;
	background-color: #8f8f8f;
	z-index: 99;
	width: 100%;
	height: 100%;
}
#alert {
	position: absolute;
	left: 50%;
	top: 25%;
	z-index: 9999;
	margin-left: -125px; 
	width: 250px;
	height: 9em;
	background-color: white;
	font-size: 12px;
}
#alertHeade {
	padding: 0.75em;
	font-size: 1em;
	background-color: #e80;
}
#alertHeade span {
	float: right;
	cursor: pointer;
}
#alertHeade span:hover {
	color: white;
}
#alert ul {
	margin: 1em;
}
#alert ul li {
	line-height: 2em;
}
#alertButtons {
	margin: 10px 60px;
}

/*****************问卷内部**********************/
.titleQN,
.footerQN,
.middleQN {
    margin: 0 3%;	
}
.listQNs .titleQN {
    border: none;
    border-bottom: 1px solid rgba(193, 154, 154, 0.73);
    outline: none;
    padding: 30px 0;
    width: 94%;
    text-align: center;
}

.listQNs .footerQN {
	border-top: 1px solid rgba(193, 154, 154, 0.73);
	padding: 20px 0 20px 5%;
}

.listQNs .footerQN input{
	margin: 0 25% 10px 3px;
	width: 150px;
}
.listQNs .footerQN button{
	float: right;
	padding: 0 8px;
	width: 74px;
}

.listQNs .footerQN button:last-child {
	margin-left: 12px;
}
.middleQN .middleQNFooter {
	border: 1px solid #eee;		
}
.middleQN .middleQNFooter {
	margin: 10px auto 10px auto;
}
.middleQN .middleQNFooter .addItem {
	position: relative;
	margin: auto;
	width: 99%;
	height: 80px;
	background-color: #eee;
}
.middleQN .middleQNFooter .addBtn,
.middleQN .middleQNFooter .addItem {
	background-color: #eee;
	cursor: pointer;
}

.middleQN .middleQNFooter:last-child {
	border: none;
}

.middleQN .addItem span:first-child{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -50px;
	font-size: 1.5em;
	height: 1.5px;
}
.middleQN .middleQNFooter img {
	margin-right: 0.1em;
	width: 1em;
	height: 1em; 
}

.middleQNFooter .addChoose {
	position: relative;
	margin: 8px 0;
	height: 60px;
}
.middleQNFooter .addChoose div:first-child {
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -200px;	
}
.addChoose .addBtn {
	margin-left: 15px;
	width: 80px;
	line-height: 2em;
}
.addChoose .addBtn:first-child {
	margin-left: 0;
}